/docker/mongo-volume/*
/docker/minio-volume/*
/docker/minio-volume/lengoo/*
!/docker/mongo-volume/.gitkeep
!/docker/minio-volume/.gitkeep
!/docker/minio-volume/lengoo
!/docker/minio-volume/lengoo/.gitkeep
node_modules
dist
.vscode
.env
yarn-error.log
coverage
